*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(74, 132, 240);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
}
h1{
    font-size: 2rem;
    margin-bottom: 2vh;
    margin-top: 3vh;
    color: rgb(0, 0, 0);
}
.subtitulo{
    color: rgb(0, 0, 0);
    margin-bottom: 7vh;
}
.opcoes{
    display: flex;
    justify-content: center;
    gap: 5%;
    flex-wrap: wrap;
}
.cartao{
background-color: rgba(74, 164, 248, 0.979);
border-radius: 12px;
padding: 20px;
width: 220px;
cursor: pointer;
border: 3px solid transparent;
box-shadow: 0 2px 8px rgba(0,0,0,1);
transition: border-color 0.2s, trasform 0.2s;
}
.cartao:hover{
    border-color: rgba(87, 141, 241, 0.897);
    transform: scale(1.03);
}
.cartao img{
    width: 160px;
    height:160px;
    object-fit: cover;
    border-radius: 8px;
}
.cartao p{
    margin-top: 12px;
    font-size: 1.1rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.vs{
    font-size: 2rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
}